.gitignore~

dist/

backend/.classpath
backend/.project
backend/.settings
backend/eclipse/*
backend/lib/*
backend/modules/*
backend/tmp/*
backend/documentation/*
backend/test-result/*
backend/public/*
backend/logs/*
backend/dist/*
backend/precompiled/*
backend/*.log*
backend/*.iml
backend/*.ipr
backend/*.iws

frontend/app/manual/*.html
frontend/app/manual/*.pdf
frontend/bower_components/*
frontend/node_modules/*
frontend/.tmp/*
frontend/*.sublime-workspace
frontend/.vscode
frontend/package-lock.json
frontend/*.iml
frontend/.idea/

scripts/logs
scripts/output
scripts/*.iml

**/*.log

backend/.idea/*
backend/dataSources/*
