mixin breadcrumb(breadcrumbs)
	ol.breadcrumb.hidden-xs
		li
			a(href="#/inicialPortal") Gestão de Acesso e Auditoria

		each breadcrumb in breadcrumbs
			if (!breadcrumb.url)
				li.active= breadcrumb.title
			else
				li
					a(href= breadcrumb.url)= breadcrumb.title