<html style="height: 100%;  display: table; margin: auto;">

<head>
</head>

<body style="height: 100%; display: table-cell; vertical-align: middle;">

<h1>
#{embeddedImage src:'public/images/entrada-unica_cor.png', name:'Entrada Única', alt:'Entrada Única', width:'300', height:'auto' /}
</h1>

<p>
    Olá,
</p>

<p>
    foi feita a solicitação para redefinição de senha do usuário de login:
    <b>${usuario.login}</b>.
</p>

<p>
    Para realizar a redefinição, acesse este <a href=${url}>link</a>.
</p>

<p>
    Por favor não responda essa mensagem. Esse é um e-mail automático.
</p>
</body>
</html>